/* style.css */

<
body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;

<p>Original Article by <em>sAmanda Petrusich, <a href="http://www.pitchfork.com">Pitchfork.com</a></em><br>
September 21, 2004
<style> color: red;

<p font-size: 10px;p>